<div id="bundle_asdf1abbdf" product="{{ product.id }}" cols="{{ col_ids | join: "," }}"></div>

<script src="{{ "load_bundle.js" | asset_url }}" defer></script>

{% schema %}
{
  "name": "Bundle discount",
  "target": "section",
  "settings": [{ "type": "product", "id": "product", "label": "product", "autofill": true }]
}
{% endschema %}
