{%- assign col_ids = product.collections | map: 'id' -%}

<div id="vd_09123hnf" product="{{ product.id }}" cols="{{ col_ids | join: "," }}"></div>

<script src="{{ "load_vd.js" | asset_url }}" defer></script>

{% schema %}
{
  "name": "Volume discount",
  "target": "section",
  "settings": [{ "type": "product", "id": "product", "label": "product", "autofill": true }]
}
{% endschema %}
