/* ------------------------------- Preview ------------------------------ */

.flex_row_center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.flex_row .remain {
  flex-grow: 1;
}

.frame {
  border-width: 1px;
  border-radius: 6px;
}

.card_grey {
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  gap: 0.75rem;
}

.flex_column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.product_title {
  background-color: #e4e4e4;
  color: #1b1b1b;
  border-radius: 4px;
  padding: 8px;
  width: fit-content;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
}

.old_price {
  text-decoration: line-through;
  color: #b5b4b4;
}

.midline {
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 10px 0 20px;
  border-bottom: 1px solid #000;
}

.midline span {
  background: #fff;
  padding: 0 10px;
}

.vd_title {
  display: flex;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

.vd_title h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--clgreen);
  width: fit-content;
  position: relative;
}

.vd_title h3:before,
.vd_title h3:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 500%;
  height: 2px;
  background-color: #c8c8c8;
}

.vd_title h3:before {
  right: 100%;
  margin-right: 10px;
}

.vd_title h3:after {
  left: 100%;
  margin-left: 10px;
}

.vd_ctn {
  /* padding-right: 0.5rem; */
  /* padding-left: 0.5rem; */
  gap: 0;
}

.vd_label_ctn {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: rgb(66, 137, 255);
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 16.16px;
  min-width: 80px;
  word-break: break-all;
  overflow: hidden;
  min-height: 80px;
  border-color: #e0e0e0;
  border-width: 2px;
}

.vd_label_ctn.active {
  display: none;
  transition: ease-in-out;
}

.vd_label_ctn.active p {
  display: none;
  overflow: hidden;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dd {
  background-color: #4289ff;
  box-shadow: #4289ff 0px 0px 0px 1px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 2px #0003;
  margin-right: 15px;
}

/* vertical dash */
.vertical_dash {
  border-right: 5px dashed white;
  height: 100%;
  left: 2.5px;
  font-size: 18px;
  font-weight: 500;
  line-height: 16.16px;
}

.vd_offer_ctn {
  padding: 1.5rem 1rem;
  align-items: center;
}

.custom-select {
  position: relative;
  font-family: Arial;
  display: inline-block;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  display: flex;
  flex-direction: row;
  background-color: #cdc2c2;
  border-radius: 4px;
  justify-content: center;
  align-items: flex-end;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000 transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #000;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #cdc2c2;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ------------- Step 2 direction */

.flex_cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* https://codepen.io/sean-mooney/pen/Jjdqevm */
.step2_ctn {
  display: flex;
  align-items: center;
  counter-reset: step;
}

.step2 {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
}

.chain {
  display: block;
  flex-grow: 1;
  border-left: 2px solid gray;
}

.s2content {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid gray;
  border-radius: 4px;
}

/*Step Cirlcle counter*/
.step_cc {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  border: 1px solid grey;
  background-color: grey;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.step2.active .s2content {
  border: 2px solid #019875;
  border-radius: 4px;
}

.step2.active .step_cc {
  border: 1px solid #019875;
}

.step2 .step_cc.selected {
  border: 1px solid #019875;
}

.chain.active {
  border-color: #019875;
}

.step2_ctn.column {
  flex-direction: column;
}

.step2_ctn.column .step2 {
  flex-direction: column;
}

.step2_ctn.column .chain {
  left: 50%;
  /* height: 80px; */
  min-height: 80px;
}

.step2_ctn.row {
  flex-direction: row;
}

.step2_ctn.row .step2 {
  flex-direction: row;
}

.step2_ctn.row .chain {
  top: 50%;
  border-top: 3px solid gray;
}

.step2_ctn.row .chain.active {
  top: 50%;
  border-top: 3px solid #019875;
}

.step2:last-child {
  flex-grow: 1;
  display: block;
}
